.indeximg{
  position: relative;
  box-shadow: 10px 8px 10px 4px rgba(0,0,0,0.3);
}

.textimg{
  font-size: 18px;
}

.block{
  text-align: center;
  padding-left: 20%;
  padding-right: 15%;
  padding-bottom: 100px;
}
